@model GrantsViewModel

<div class="grants">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                Acesso de aplicação ao cliente
            </h1>
            <div>Abaixo está a lista de aplicativos aos quais você tem acesso e os nomes dos recursos aos quais eles têm acesso.</div> 
        </div>
    </div>

    @if (Model.Grants.Any() == false)
    {
        <div class="row">
            <div class="col-sm-8">
                <div class="alert alert-info">
                    Você não concedeu acesso a nenhum aplicativo
                </div>
            </div>
        </div>
    }
    else
    {
        foreach (var grant in Model.Grants)
        {
            <div class="row grant">
                <div class="col-sm-2">
                    @if (grant.ClientLogoUrl != null)
                    {
                        <img src="@grant.ClientLogoUrl">
                    }
                </div>
                <div class="col-sm-8">
                    <div class="clientname">@grant.ClientName</div>
                    <div>
                        <span class="created">Criado:</span> @grant.Created.ToString("yyyy-MM-dd")
                    </div>
                    @if (grant.Expires.HasValue)
                    {
                        <div>
                            <span class="expires">Expira:</span> @grant.Expires.Value.ToString("yyyy-MM-dd")
                        </div>
                    }
                    @if (grant.IdentityGrantNames.Any())
                    {
                        <div>
                            <div class="granttype">Identidade concedida</div>
                            <ul>
                                @foreach (var name in grant.IdentityGrantNames)
                        {
                                    <li>@name</li>
                                }
                            </ul>
                        </div>
                    }
                    @if (grant.ApiGrantNames.Any())
                    {
                        <div>
                            <div class="granttype">API Concedido</div>
                            <ul>
                                @foreach (var name in grant.ApiGrantNames)
                                {
                                    <li>@name</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
                <div class="col-sm-2">
                    <form asp-action="Revoke">
                        <input type="hidden" name="clientId" value="@grant.ClientId">
                        <button class="btn btn-danger">Acesso Revoke</button>
                    </form>
                </div>
            </div>
        }
    }
</div>